<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            About
        </title>
    </head>
    <body id="aboutpage">
        <h1>
        <a href="index.html">
            Blog
        </a>
            &nbsp;|&nbsp;About&nbsp;&nbsp;|&nbsp;
        <a href="tips.html">
            Tips
        </a>
        </h1>
        <img src="https://i.kym-cdn.com/entries/icons/original/000/016/546/hidethepainharold.jpg" alt="Harold" height="300" width="350">
        <p>
            It’s difficult to describe someone as complex as Harold. If you could ask him to describe himself his answer would come as a single word: balance.Everything which exists in this world has its antithesis, light has darkness, pain has pleasure and fear has joy. The more extreme you push one to be, the more extreme the balance to keep it in check. With this being said Harold is the most loving, calm, tender and understanding man you have ever met. At average height and athletic build he was anything but imposing. Scruffy white hair, beard barely more than stubble and a massive smile are the first things one would notice, but it was his eyes which gave him his depth. With one look in his eyes people would either recoil in fear or grow helpless in his gaze, simply from the depth and brutal honesty in which he was willing to bear himself to the world.
        </p>
        <img src="Snowboarding.png" height="250" alt="Snowboarding" width="425">
        <img src="PolarBear.png" height="250" alt="Pet Polar Bear" width="425">
        <img src="Everest.png" height="250" alt="Summiting Mt. Everest" width="425">


    </body>
</html>