<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <meta charset="UTF-8">
    <title>Blog Archive</title>
</head>
<body>
    <h1>Blog Archive</h1>
    {% if blog_posts_list %}
        <ul>
        {% for blog_post in blog_posts_list %}
            <li>
                <h3><a href="{% url 'blog:blog_post' blog_post.id %}">{{ blog_post.title }}</a>
                by {{ blog_post.author }}</h3>
                {{ blog_post.content|truncatewords:100 }}<br>
                <i>{{ blog_post.posted }}</i> <b>Comments: {{ blog_post.comment_set.count}}</b>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are currently no blog posts.</p>
    {% endif %}
</body>
</html>