<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <h1>
        <a href="{% url 'blog:index' %}">Blog</a><br>
        {{blog_post.title}}
        <br>by <i>{{ blog_post.author }}</i>
    </h1>
    <p1>
        {{ blog_post.content }}<br><i>{{ blog_post.posted }} </i>
    </p1>
    <h3>
        Comments:
    </h3>
    <ul>
        {% for comment in blog_post.comment_set.all %}
        <li><b>{{ comment.commenter }} </b> <br>
                {{ comment.content }}<br>
                <i>{{ comment.posted }}</i><br>

            </li>
        {% endfor %}
    </ul>
    <h3>
        Thoughts? Comment Below! :
    </h3>
    <form action="{% url 'blog:comment' blog_post.id %}" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="new_comment_name" id="new_comment_name" value="{{new_comment_name}}"><br>
        Email: <input type="text" name="new_comment_email" id="new_comment_email" value="{{new_comment_email}}"><br>
        Comment: <input type="text" name="new_comment_content" id="new_comment_content" value="{{new_comment_content}}" size="70"><br>
        <input type="submit" value="Post">
    </form>
</body>
</html>