<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
        <title>
            Tips
        </title>
    </head>
    <body>
        <h1>
        <a href="{% url 'blog:index' %}">
            Blog
        </a>
            &nbsp;|
        <a href="{% url 'blog:about' %}">
            About
        </a>
            &nbsp;|&nbsp;&nbsp;Tips

        </h1>
        <ol>
            <li>
                Bash Commands:
                <br>
                cd
                <ul>
                    <li>Moves to desired directory</li>
                    <li><code>cd /users/tyler/documents</code></li>
                </ul>
                mkdir
                <ul>
                    <li>Creates directory in current directory</li>
                    <li><code>mkdir foldername</code></li>
                </ul>
                mv
                <ul>
                    <li>Moves file to stated directory</li>
                    <li><code>mv file /images </code></li>
                </ul>
            </li>
            <li>
                Git Commands
                <br>
                add -A
                <ul>
                    <li>Adds all edited files to list to be commited</li>
                    <li><code>git add -A</code></li>
                </ul>
                commit -m
                <ul>
                    <li>Commits all changes to local repository, with message</li>
                    <li><code>git commit -m "Message"</code></li>
                </ul>
                push
                <ul>
                    <li>Sends changes to online repository</li>
                    <li><code>git push </code></li>
                </ul>
            </li>
            <li>
                HTML Tags
                <br>
                h1
                <ul>
                    <li>A header with large text</li>
                    <li><code>&lt;h1&gt;Header&lt;/h1&gt;</code></li>
                </ul>
                img
                <ul>
                    <li>Displays an image set to a link</li>
                    <li><code>&lt;img src="image.png" height="100" width="100"&gt;</code></li>
                </ul>
                br
                <ul>
                    <li>Makes a page break in the text</li>
                    <li><code>&lt;br&gt;</code></li>
                </ul>
            </li>
            <li>
                CSS Concepts
                <br>
                color
                <ul>
                    <li>Determines color of text</li>
                    <li><code>color: #277fab;</code></li>
                </ul>
                font-family
                <ul>
                    <li>Determines font family</li>
                    <li><code>font-family: "verdana"</code></li>
                </ul>
                padding
                <ul>
                    <li>Sets padding for the sides of an element</li>
                    <li><code>padding: 20px 20px 20px 20px;</code></li>
                </ul></li>
        </ol>
        <br>
        {% now "jS F Y H:i" %}
    </body>
</html>